<template>
  <div>
    <div class="cp-item">
      <span class="label">旧密码</span>
      <input
        v-model="sendData.currentPassword"
        class="input"
        placeholder="请输入旧密码"
        type="text"
      />
    </div>
    <div class="cp-item">
      <span class="label">新密码</span>
      <input
        v-model="sendData.newPassword"
        class="input"
        placeholder="新密码"
        type="text"
      />
    </div>
    <div class="cp-item">
      <span class="label">重复新密码</span>
      <input
        v-model="newPwd"
        class="input"
        placeholder="重复旧密码"
        type="text"
      />
    </div>
    <div style="display: flex; justify-content: center">
      <Button @click="save" type="primary" size="small">保存</Button>
    </div>
  </div>
</template>

<script>
import { Button, Toast } from "mint-ui";
import { changePwd } from "@/api/api";
export default {
  components: {
    Button,
  },
  data() {
    return {
      newPwd: "",
      sendData: {
        currentPassword: "",
        newPassword: "",
      },
    };
  },
  methods: {
    async save() {
      if (this.newPwd !== this.sendData.newPassword) {
        Toast("两次输入的新密码不同");
        return;
      }
      const result = await changePwd(this.sendData);
      if (result && result.code === 0) {
        Toast('修改成功');
      }else{
        Toast('修改失败');
      }
    },
  },
};
</script>

<style scoped>
.cp-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 20px;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}
.cp-item input {
  border: none;
  height: 96%;
  font-size: 16px;
  outline: none;
}
</style>