<template>
  <div>
    <Cell v-for="(item, index) in helpList" :key="index" is-link>
      <span class="jump-span" @click="jumpHelp(item)" slot="title">{{
        item.title
      }}</span>
    </Cell>
  </div>
</template>

<script>
import { Cell } from "mint-ui";
import { getAllHelp } from "@/api/api";
export default {
  components: { Cell },
  data() {
    return {
      helpList: [],
    };
  },
  created() {
    this.getAllHelp();
  },
  methods: {
    async getAllHelp() {
      const result = await getAllHelp({ page: 0, size: 10000 });
      this.helpList = result;
    },
    jumpHelp(data) {
      const href = data.url.indexOf('http') > -1 ? data.url : `//${data.url}`;
      window.open(href, "_blank");
    },
  },
};
</script>

<style>
.jump-span {
  display: inline-block;
  width: 100%;
  height: 32px;
  line-height: 32px;
}
</style>