<template>
  <div class="wrap">
    <div class="logo"></div>
    <input type="text" placeholder="账号" v-model="sendData.username" />
    <input type="password" placeholder="密码" v-model="sendData.password" />
    <div @click="login" class="login">登录</div>
  </div>
</template>

<script>
import { MessageBox, Toast } from "mint-ui";
import { loginPost, getAccount } from "@/api/api";
export default {
  components: {},
  data() {
    return {
      sendData: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    forgetPassword() {
      MessageBox("请联系维护人员", "13628198762");
    },
    async login() {
      const { username, password } = this.sendData;
      if (!username || !password) {
        Toast({
          message: "请输入用户名或密码",
          position: "bottom",
        });
        return;
      }
      const result = await loginPost({ username, password, rememberMe: false });
      if (result && result.id_token) {
        sessionStorage.setItem("token", result.id_token);
        this.getAccount();
      } else {
        Toast("用户名或密码错误");
      }
    },
    async getAccount() {
      const account = await getAccount();
      this.$router.replace(`/Nav/Href`);
      Toast("登录成功");
      sessionStorage.setItem("accountInfo", JSON.stringify(account));
      sessionStorage.setItem("active", '0');
    },
  },
};
</script>

<style scoped>
.wrap {
  width: 100%;
  height: 100%;
}
.logo {
  width: 1.6rem;
  height: 1.25rem;
  background: url("http://94.74.120.67/logo.png") no-repeat;
  background-size: auto 100%;
  margin: 0.5rem 1.16rem 0.45rem;
}
input {
  display: block;
  width: 2.6rem;
  height: 0.32rem;
  line-height: 0.4rem;
  margin: 0.21rem auto;
  font-size: 0.16rem;
  border: 1px solid #cccccc;
  border-radius: 0.04rem;
  text-indent: 0.1rem;
}
.forgetPassword {
  float: right;
  font-size: 0.18rem;
  height: 0.18rem;
  line-height: 0.18rem;
  color: #383838;
}
.login {
  width: 2.5rem;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.22rem;
  border: none;
  border-radius: 0.1rem;
  margin: 0.32rem auto 0;
  text-align: center;
  color: #383838;
  background-color: #26a2ff;
  color: white;
}
</style>