<template>
  <div class="wrap">
    <div class="btn">
      <mt-button
        type="primary"
        size="small"
        @click="addLink"
        style="border-radius: 0.3rem; margin-top: 0.2rem; margin-left: 0.15rem"
        >创建帮助链接</mt-button
      >
    </div>
    <div class="formData">
      <div class="title" v-for="(val, index) in allLinks" :key="index">
        <span>{{ val.title }}</span>
        <img class="pic" :src="val.picture" alt="" />
        <em class="time">{{ val.time | timeFormat }}</em>
        <div style="display: flex; justify-content: space-around; padding-top: 10px">
          <mt-button
            class="cbtn"
            type="primary"
            size="small"
            @click="btnClick(val)"
            >编辑</mt-button
          >
          <mt-button
            class="cbtn"
            type="danger"
            size="small"
            @click="delClick(val)"
            >删除</mt-button
          >
        </div>
      </div>
    </div>
    <div class="PopMain">
      <mt-popup v-model="popupVisible" position="top">
        <div
          class="popTitle"
          style="
            margin-bottom: 0.22rem;
            font-size: 0.18rem;
            color: #888585;
            font-weight: bolder;
          "
        >
          链接新增/编辑
        </div>
        <div class="popTel">
          <input v-model="popData.title" placeholder="链接名称" />
        </div>
        <div class="upload-box">
          <img v-if="popData.picture" :src="popData.picture" alt="" />
          <span v-else>+</span>
          <Upload name="file" style="height: 100%; width: 100%; position: absolute; left: 0; top: 0; z-index: 9;" @uploadCompleted="uploadCompleted"/>
        </div>
        <div
          class="popBtn"
          style="display: flex; justify-content: space-around"
        >
          <mt-button
            type="primary"
            size="small"
            style="float: left"
            @click="saveEdit"
            >保存</mt-button
          >
          <mt-button
            type="default"
            size="small"
            style="float: left"
            @click="popupVisible = false"
            >取消</mt-button
          >
        </div>
      </mt-popup>
    </div>
  </div>
</template>

<script>
import { Button, Popup, MessageBox, Toast } from "mint-ui";
import { getAllLinksPost, deleteLink, updateLink, addLink } from "@/api/api";
import moment from "moment";
import Upload from "@/components/upload/upload";
export default {
  name: "Href",
  components: {
    Upload,
    "mt-button": Button,
    "mt-popup": Popup,
  },
  filters: {
    timeFormat(res) {
      return moment(res).format("YYYY-MM-DD h:mm");
    },
  },
  data() {
    return {
      popData: {},
      popupVisible: false,
      allLinks: [],
    };
  },
  created() {
    this.getData();
  },
  methods: {
    uploadCompleted(res) {
      this.popData.picture = res.result;
    },
    btnClick(data) {
      this.popData = Object.assign({}, data);
      this.popupVisible = true;
    },
    addLink() {
      this.popupVisible = true;
      this.popData = {
        picture: "",
        title: "",
      }
    },
    delClick(data) {
      MessageBox.confirm("确定删除吗?").then(async () => {
        const result = await deleteLink(data.id);
        Toast(`删除成功`);
        this.getData();
      });
    },
    async getData() {
      const page = 0;
      const size = 10000;
      
      const result = await getAllLinksPost({ page, size });
      this.allLinks = [...result]
    },
    async saveEdit() {
      const { id } = this.popData;
      const ajax = id ? updateLink : addLink;
      await ajax(this.popData);
      this.popupVisible = false;
      this.getData()
      Toast('保存成功')
    },
  },
};
</script>

<style scoped>
.pic {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 0.1rem;
  margin-right: 0.1rem;
  float: right;
}
.btn {
  width: 100%;
  height: auto;
}
.PopDel .mint-popup-top {
  width: 2.5rem;
  height: 1.5rem;
}
.PopDel .popName {
  margin: 0.3rem;
  text-align: center;
}
.PopDel .popBtn {
  margin: 0.4rem auto;
}
.PopMain .mint-popup-top,
.PopDel .mint-popup-top {
  top: 1.6rem;
}
.popTitle,
.popName,
.popTel,
.popAdd,
.popBtn {
  font-size: 0.16rem;
  margin: 0.1rem;
}

.popTel input {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  /* line-height: 0.38rem; */
}
.formData {
  width: 100%;
  height: auto;
  float: left;
  margin: 0.1rem auto;
  font-size: 0.17rem;
  padding-bottom: 0.8rem;
}
.formData .time {
  display: inline-block; 
  font-style: normal; 
  font-size: 14px;
  text-indent: 10px;
}
.formData div.title {
  width: 45%;
  height: 1.2rem;
  background: #fff;
  border-radius: 0.1rem;
  padding-top: 0.1rem;
  float: left;
  margin: 0.1rem;
}
.formData span {
  width: 1rem;
  display: inline-block;
  padding: 0.05rem 0.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.formData span:nth-child(2) {
  display: block;
  font-size: 0.16rem;
  color: #888585;
  padding-bottom: 0.2rem;
}
.wrap {
  width: 100%;
  height: 100%;
  background: #eceaea;
  overflow: auto;
}
.cbtn {
  height: 0.24rem;
}
.upload-box {
  height: 60px;
  width: 50%;
  border: 1px dashed #ededed;
  margin-left: 5%;
  border-radius: 4px;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  color: #ccc;
  overflow: hidden;
  position: relative;
}
.upload-box img {
  height: 100%;
}
</style>