<template>
  <div>
    <div
      :style="{ background: `rgb(251, 237, 8) url(${userInfo.backgroundUrl})` }"
      class="bg-box"
    ></div>
    <div class="index-content">
      <div
        style="
          display: flex;
          border-bottom: 1px solid #ccc;
          padding-bottom: 10px;
        "
      >
        <img class="user-headurl" :src="userInfo.chatHead" alt="" />
        <div>
          <span style="font-size: 28px; display: inline-block; width: 100%; text-align: left">{{ userInfo.nickName }}</span>
          <br />
          <span
            style="
              font-size: 14px;
              width: 90%;
              overflow: hidden;
              text-overflow: ellipsis;
              display:-webkit-box; 
              text-align: left;
              -webkit-box-orient:vertical;
              -webkit-line-clamp:2
            "
            >{{ userInfo.sign }}</span
          >
        </div>
      </div>
      <div
        style="
          position: absolute;
          padding-bottom: 80px;
          width: 100%;
          background: white;
          top: 90px;
          bottom: 0px;
          overflow: auto;
        "
      >
        <div
          @click="jumpLink(item)"
          class="icon-box"
          v-for="(item, index) in iconList"
          :key="index"
        >
          <img :src="item.picture" alt="" />
          <span>{{ item.title }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getMyLinks, getMyInfo } from "@/api/api";
import { Toast } from "mint-ui";
export default {
  data() {
    return {
      userInfo: {},
      iconList: [],
    };
  },
  created() {
    const userId = this.$route.params.userId;
    this.getMyInfo(userId);
    this.getMyLinks(userId);
  },
  methods: {
    async getMyInfo(userId) {
      const result = await getMyInfo({ userId });
      this.userInfo = result || {};
    },
    async getMyLinks(userId) {
      const result = await getMyLinks({ userId });
      this.iconList = [...result];
    },
    jumpLink(data) {
      const TYPES = {
        WECHAT: "weixin://",
        PHONE: `tel:${data.value}`,
        SMS: `sms:${data.value}`,
      };
      if (data.type) {
        if (data.type === "WECHAT") {
          this.copyTextToClipboard(data.value);
        }
        window.location.href = TYPES[data.type];
      }
    },
    copyTextToClipboard(text) {
      var textArea = document.createElement("textarea");

      textArea.style.position = "fixed";
      textArea.style.top = 0;
      textArea.style.left = 0;
      textArea.style.width = "2em";
      textArea.style.height = "2em";
      textArea.style.padding = 0;
      textArea.style.border = "none";
      textArea.style.outline = "none";
      textArea.style.boxShadow = "none";
      textArea.style.background = "transparent";
      textArea.value = text;

      document.body.appendChild(textArea);

      textArea.select();

      try {
        var msg = document.execCommand("copy") ? "成功" : "失败";
        alert("复制内容 " + msg);
      } catch (err) {
        alert("不能使用这种方法复制内容");
      }

      document.body.removeChild(textArea);
    },
  },
};
</script>

<style scoped>
.user-msg-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ccc;
  border-radius: 6px;
  padding: 30px 0;
}
.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 0 20px;
}
.user-name {
  font-size: 26px;
}
.icon-box {
  width: 20%;
  border-radius: 4px;
  float: left;
  margin-left: 4%;
  margin-top: 20px;
  overflow: hidden;
}
.icon-box img {
  width: 100%;
  border-radius: 14px;
}
.bg-box {
  position: relative;
  width: 100%;
  height: 200px;
  background-size: cover;
}
.index-content {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  bottom: 38px;
  min-height: 200px;
  background: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.user-headurl {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin: -16px 20px 0 6%;
}
</style>