<template>
  <div style="padding-top: 40px">
    <div v-if="!myLinks.length">
      <img :src="noLink" style="width: 100%" alt="">
      <p>暂无添加链接</p>
    </div>
    <Cell v-for="(item, index) in myLinks" :key="index">
      <span slot="title">
        <img :src="item.picture" class="icon-img" alt="" />
        <span>{{ item.title }}</span>
      </span>
      <span>
        <img @click="updateLink(item)" :src="editIcon" class="cz-icon" alt="" />
        <img @click="delLink(item)" :src="deleteIcon" class="cz-icon" alt="" />
      </span>
    </Cell>
    <Button @click="selectType" class="add-link" type="primary"
      >添加链接</Button
    >

    <Popup
      v-model="popupVisible"
      position="bottom"
      style="width: 100%; text-align: left"
    >
      <div style="max-height: 400px; overflow-y: auto;">
        <div class="pop-item" v-for="(item, index) in iconList" :key="index" @click="selectJump(item)">
          <span class="pop-flex" slot="title">
            <img :src="item.picture" class="icon-img" alt="" />
            <span>{{ item.title }}</span>
          </span>
        </div>
        
      </div>
      <div class="pop-cancel" @click="popupVisible = false">取消</div>
    </Popup>
  </div>
</template>

<script>
import noLink from "@/assets/noLink.png";
import editIcon from "@/assets/edit.png";
import deleteIcon from "@/assets/delete.png";
import { Cell, Button, MessageBox, Popup, Toast } from "mint-ui";
import { getMyLinks, getAllLinks, delUserLink } from "@/api/api";
export default {
  components: { Cell, Button, Popup },
  data() {
    return {
      editIcon,
      deleteIcon,
      noLink,
      popupVisible: false,
      iconList: [],
      myLinks: []
    };
  },
  created() {
    this.getMyLinks();
    this.getAllLinks();
  },
  methods: {
    async getMyLinks() {
      const accountInfo = JSON.parse(sessionStorage.getItem('accountInfo'));
      const userId = accountInfo.id;
      const result = await getMyLinks({ userId });
      this.myLinks = result
    },
    async getAllLinks() {
      const result = await getAllLinks({page: 0, size: 10000});
      this.iconList = [...result];
    },
    delLink({ id }) {
      const _this = this;
      MessageBox.confirm("确定删除吗?").then( async () => {
        await delUserLink({ id });
        Toast('删除成功');
        _this.getMyLinks();
      });
    },
    updateLink(data) {
      this.$router.replace({
        path: "/updateLink",
        query: {
          type: 'edit',
          ...data
        }
      });
    },
    selectType() {
      this.popupVisible = true;
    },
    selectJump(data) {
      this.$router.replace({
        path: "/updateLink",
        query: {
          type: 'add',
          ...data,
          linkId: data.id
        }
      });
    }
  },
};
</script>

<style scoped>
.pop-cancel {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-top: 6px solid #ededed;
}
.pop-item {
  width: 100%;
  border-bottom: 1px solid #ededed;
  
}
.pop-flex {
  display: flex;
  align-items: center;
}
.add-link {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.icon-img {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  margin: 14px 8px;
}
.cz-icon {
  height: 30px;
}
</style>