<template>
  <div>
    <img :src="linkInfo.picture" class="icon-image" alt="" />
    <div>{{ linkInfo.title }}</div>
    <div class="input-wrap">
      <input v-model="linkInfo.value" type="text" class="edit-input" />
    </div>
    <Button @click="save" size="small" class="add-link" type="primary"
      >保存</Button
    >
  </div>
</template>

<script>
import { Button, Toast } from "mint-ui";
import { createUserLink, updateUserLink } from '@/api/api';
export default {
  components: {
    Button,
  },
  data() {
    return {
      linkInfo: {
        value: ''
      },
    };
  },
  created() {
    this.linkInfo = this.$route.query;
    
  },
  methods: {
    async save() {
      const accountInfo = JSON.parse(sessionStorage.getItem("accountInfo")) || {};
      const userId = accountInfo.id;
      const sendData = {
        userId,
        linkId: this.linkInfo.linkId,
        value: this.linkInfo.value,
        id: this.linkInfo.type === 'edit' ? this.linkInfo.id : undefined
      };
      const ajax = this.linkInfo.type === 'edit' ? updateUserLink : createUserLink;
      const result = await ajax(sendData);
      if(result) {
        Toast('保存成功')
        this.$router.replace('/LinkManager')
      }else{
        Toast('保存失败')
      }
    },
  },
};
</script>

<style scoped>
.icon-image {
  margin-top: 30px;
  height: 80px;
  width: 80px;
  border-radius: 8px;
}
.input-wrap {
  background: #ededed;
  height: 40px;
  border-radius: 6px;
  width: 90%;
  margin: 30px auto;
  overflow: hidden;
}
.edit-input {
  border: none;
  height: 96%;
  background: #ededed;
  outline: none;
  box-sizing: border-box;
}
</style>