<template>
  <div style="height: 100%; padding-bottom: 20px">
    <mt-header title="" style="background-color: #868585">
      <router-link to="/" slot="left">
        <mt-button
          ><img :src="logo" height="100%" width="40" slot="icon"
        /></mt-button>
      </router-link>
    </mt-header>
    <div class="bottom-nav">
      <mt-button
        v-for="(item, index) in navs"
        :key="index"
        @click="handClick(item.path, index)"
        :type="active == index ? 'primary' : 'default'"
        >{{ item.name }}</mt-button
      >
    </div>
    <router-view />
  </div>
</template>

<script>
import { Header, Button } from "mint-ui";
// import logo from "@/assets/logo.png";
export default {
  components: {
    "mt-button": Button,
    "mt-header": Header,
  },
  data() {
    return {
      selected: "index",
      logo: 'http://94.74.120.67/logo.png',
      active: sessionStorage.getItem("active") || "0",
      navs: [
        { name: "链接管理", path: "/Nav/Href" },
        { name: "账号管理", path: "/Nav/Account" },
        { name: "帮助管理", path: "/Nav/Help" },
      ],
    };
  },
  methods: {
    handClick(path, index) {
      if (this.$route.path === path) return;
      sessionStorage.setItem("active", index);
      this.active = index;
      this.$router.push({
        path,
      });
    },
  },
};
</script>

<style scoped>
.bottom-nav {
  background: white;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
</style>