<template>
  <div>
    <div class="logo-box">
      <img class="logo" :src="logo" alt="" />
      <div>开启新世界</div>
    </div>
    <div>
      <div class="login-box">
        <input
          placeholder="请输入手机号"
          maxlength="11"
          v-model="sendData.username"
          type="text"
        />
      </div>
      <div class="login-box">
        <input
          placeholder="请输入密码"
          v-model="sendData.password"
          type="password"
        />
      </div>
      <button @click="login" class="login-btn">登录</button>
      <div @click="goRegister" style="font-size: 14px; margin-top: 18px">
        用户注册
      </div>
    </div>
    <div @click="forget" style="position: fixed; bottom: 20px; width: 100%">
      忘记密码？
    </div>
  </div>
</template>

<script>
import { Toast, MessageBox } from "mint-ui";
// import logo from "../../assets/logo.png";
import { loginPost, getAccount, forgetPwd } from "@/api/api";
export default {
  data() {
    return {
      logo: 'http://94.74.120.67/logo.png',
      sendData: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    async login() {
      const { username, password } = this.sendData;
      if (!username || !password) {
        Toast({
          message: "请输入用户名或密码",
          position: "bottom",
        });
        return;
      }
      const result = await loginPost({ username, password, rememberMe: false });
      if (result && result.id_token) {
        sessionStorage.setItem("token", result.id_token);
        this.getAccount();
      } else {
        Toast("用户名或密码错误");
      }
    },
    async getAccount() {
      const account = await getAccount();
      this.$router.replace(`/Nav/Index/${account.id}`);
      Toast("登录成功");
      sessionStorage.setItem("accountInfo", JSON.stringify(account));
      sessionStorage.setItem("active", '0');
    },
    async forget() {
      const { username } = this.sendData;
      const result = await forgetPwd({ username });
      if (result) {
        MessageBox({
          title: "提示",
          message: result,
        });
      }
    },
    goRegister() {
      this.$router.push({
        path: "/Register",
      });
    },
  },
};
</script>

<style>
.logo-box {
  text-align: left;
  padding: 0 20px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 40px;
}
.logo {
  height: 100px;
}
.login-box {
  border-bottom: 1px solid #e6e6e6;
  margin: 0 20px;
}
.login-box input {
  border: none;
  height: 40px;
  width: 100%;
  outline: none;
}
.login-btn {
  font-size: 18px;
  height: 44px;
  width: 90%;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
  background-color: #000000;
  color: white;
  outline: none;
}
</style>