<template>
  <div>
    <div class="logo-box">
      <img class="logo" :src="logo" alt="" />
      <div>开启新世界</div>
    </div>
    <div>
      <div class="login-box">
        <input
          maxlength="11"
          placeholder="请输入手机号"
          v-model="sendData.username"
          type="text"
        />
      </div>
      <div class="login-box">
        <input
          placeholder="请输入密码"
          v-model="sendData.password"
          type="password"
        />
      </div>
      <button @click="register" class="login-btn">注册</button>
      <div @click="goLogin" style="font-size: 14px; margin-top: 18px">
        用户登录
      </div>
    </div>
  </div>
</template>

<script>
import { Toast, MessageBox } from "mint-ui";
import { registerPost } from "@/api/api";
import { testPhone } from "@/tools/tools";
// import logo from "../../assets/logo.png";
export default {
  data() {
    return {
      logo: 'http://94.74.120.67/logo.png',
      sendData: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    async register() {
      const { username, password } = this.sendData;
      if (!testPhone(username)) {
        Toast({
          message: "请输入正确的手机号",
          position: "bottom",
        });
        return;
      }
      if (!username || !password) {
        Toast({
          message: "请输入用户名或密码",
          position: "bottom",
        });
        return;
      }
      const result = await registerPost({
        login: username,
        password,
      });
      if (result && result.id) {
        Toast({
          message: "注册成功，现在请登录吧～",
          position: "bottom",
        });
        this.$router.replace({
          path: "/",
        });
      } else {
        Toast({
          message: "注册失败",
          position: "bottom",
        });
      }
    },
    goLogin() {
      this.$router.push({
        path: "/Login",
      });
    },
  },
};
</script>

<style>
.logo-box {
  text-align: left;
  padding: 0 20px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 40px;
}
.logo {
  height: 100px;
}
.login-box {
  border-bottom: 1px solid #e6e6e6;
  margin: 0 20px;
}
.login-box input {
  border: none;
  height: 40px;
  width: 100%;
}
.login-btn {
  font-size: 18px;
  height: 44px;
  width: 90%;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
  background-color: #000000;
  color: white;
  outline: none;
}
</style>