<template>
  <div>
    <div class="bg-box">
      <div class="index-content">
        <div>
          <img
            class="user-headurl"
            :src="userInfo.chatHead || defaultHead"
            alt=""
          />
          <div class="user-name">{{ userInfo.nickName }}</div>
          <button @click="link('/EditInfo')" class="bjzl">编辑资料</button>
          <Cell is-link>
            <span class="jump-span" slot="title" @click="link('/LinkManager')"
              >链接管理</span
            >
          </Cell>
          <Cell is-link>
            <span class="jump-span" slot="title" @click="link('/Help')"
              >帮助</span
            >
          </Cell>
          <Cell is-link>
            <span class="jump-span" slot="title" @click="link('/Password')"
              >修改密码</span
            >
          </Cell>
          <Cell>
            <span slot="title">专属链接</span>
            <span style="display: inline-block; width: 240px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ userInfo.url }}</span>
          </Cell>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Cell } from "mint-ui";
import { getMyInfo } from "@/api/api";
import defaultHead from "@/assets/defaultHead.png";
export default {
  components: { Cell },
  data() {
    return {
      defaultHead,
      userInfo: {},
    };
  },
  created() {
    const accountInfo = JSON.parse(sessionStorage.getItem("accountInfo"));
    const userId = accountInfo.id;
    this.getMyInfo(userId);
  },
  methods: {
    link(path) {
      this.$router.push({
        path,
      });
    },
    async getMyInfo(userId) {
      const result = await getMyInfo({ userId });
      this.userInfo = result;
    },
  },
};
</script>

<style scoped>
.bjzl {
  background: white;
  border: 1px solid #ccc;
  padding: 4px 18px;
  border-radius: 12px;
  margin-bottom: 40px;
  outline: none;
  margin-top: 10px;
}
.user-name {
  font-size: 26px;
}
.bg-box {
  position: relative;
  width: 100%;
}
.index-content {
  width: 100%;
  min-height: 200px;
  background: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.user-headurl {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin: 36px 40px 0 45px;
}
.jump-span {
  display: inline-block;
  width: 100%;
  height: 32px;
  line-height: 32px;
}
.grzs .mint-cell-value {
  width: 66%;
}
</style>