<template>
  <div>
    <div :class="isHidden ? 'hidden' : 'show'" class="tab-box">
      <div
        :style="{color: active == index ? 'rgb(251, 237, 8)' : 'black'}"
        class="tab-item"
        v-for="(item, index) in navs"
        :key="index"
        @click="handClick(item.path, index)"
        >
          <!-- <img :src="active == index ? item.activeIcon : item.icon" /> -->
          {{ item.name }}
        </div>
    </div>
    <router-view />
  </div>
</template>

<script>
import home from "@/assets/home.png";
import home2 from "@/assets/home2.png";
import my from "@/assets/my.png";
import my2 from "@/assets/my2.png";
export default {
  components: {
  },
  data() {
    return {
      logo: 'http://94.74.120.67/logo.png',
      active: sessionStorage.getItem("active") || "0",
      isHidden: true,
      navs: [
        { name: "首页", path: `/Nav/Index/${this.$route.params.userId}`, icon: home2, activeIcon: home },
        { name: "我", path: `/Nav/My/${this.$route.params.userId}`, icon: my2, activeIcon: my },
      ],
    };
  },
  created() {
    this.isHidden = sessionStorage.getItem('token') ? false : true
  },
  methods: {
    handClick(path, index) {
      if (this.$route.path === path) return;
      sessionStorage.setItem('active', index)
      this.active = index
      this.$router.replace({
        path,
      });
    },
  },
};
</script>

<style scoped>
.tab-box {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-top: 1px solid #ededed;
  padding-top: 10px;
  background-color: white;
  z-index: 999;
}
.tab-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 6px;
}
.tab-item img {
  height: 30px;
  font-size: 20px;
}
.hidden {
  display: none;
}
.show {
  display: flex;
}
</style>> 
