<template>
  <div class="wrap">
    <div class="title">个人设置</div>
    <div class="personSetting">
      <div class="photo">
        <span style="display:inline-block;height:.25rem;line-height:.25rem;margin-top: .14rem;float: left;">头像</span>
        <span :style="backgroundStyle"></span>
      </div>
      <div class="name">
        <span>用户昵称</span>
        <input placeholder="" />
      </div>
    </div>
    <div class="title" style="margin-top:.1rem;">密码设置</div>
    <div class="passwordSetting">
      <div class="modifyPassword">
        <span>修改密码</span>
        <input placeholder="" />
      </div>
      <div class="surePassword">
        <span>确认密码</span>
        <input placeholder="" />
      </div>
      <mt-button type="primary" size="normal" style="margin:.2rem 0 0 1.25rem">确认</mt-button>
    </div>
  </div>
</template>


<script>
import { Button} from "mint-ui";
export default {
    name: "Setting",
    components: {
        "mt-button": Button,
    },
    data() {
        return {
       
        // options:[],
        backgroundStyle: {
            width: ".4rem",
            height: ".4rem",
            borderRadius: "100%",
            backgroundImage: "url('http://94.74.120.67/logo.png')",
            backgroundRepeat: "no-repeat",
            backgroundSize: "cover",
            marginLeft:'.1rem'
        },
        };
    },
    methods: {
        
    },
};
</script>
<style scoped>

.wrap {
  width: 100%;
  height: 6.27rem;
  background: #eceaea;
}
.title{
    font-size:.18rem;
    font-weight:bold;
    height: .4rem;
    line-height: .4rem;
    padding: 0.1rem;
}

.personSetting,.passwordSetting{
    background:#fff;
    width: 3rem;
    height: 1rem;
    margin: 0 auto;
    border-radius: .1rem;
    padding:.2rem;
}
.passwordSetting{
    height: 2rem;
    padding:.1rem .2rem;
}
.personSetting .name,.passwordSetting div{
    height:.4rem;
    width:auto;
    padding-top:.2rem;
}
.personSetting div span,.passwordSetting div span{
    display: inline-block;
    width: .8rem;
    height:.25rem;
    line-height:.25rem;
}
.personSetting .name input,.passwordSetting div input{
    display:inline-block;
    width:1.7rem;
    height:.25rem;
    line-height:.25rem;
    margin-left:.1rem;
}

</style>