<template>
  <div class="upload-wrapper">
    <div class="upload-box">
      <img v-if="url" :src="url" class="show-image" alt="image" />
      <input class="file" @change="fileChange" ref="upload" type="file" accept="image/*" />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props: ['uploadConfig', 'name'],
  data() {
    return {
      url: '',
    };
  },
  methods: {
    fileChange() {
      let _this = this;
      let file = _this.$refs.upload
      let formData = new FormData();
      formData.append(_this.name, file.files[0]);
      axios.post('/api/file/upload', formData).then(res => {
        _this.$emit('uploadCompleted', res.data)
      }).catch(error => {
        console.log(error);
      })
    }
  }
};
</script>

<style>
.upload-wrapper .upload-box {
   height: 100%;
   width: 100%;
   position: relative;
}
.show-image {
    height: 100%;
    width: 100%;
}
.file {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
</style>