<template>
  <div class="wrap">
    <div class="topTitle">账号管理</div>
    <div class="tabTitle">
      <div
        v-show="isAdmin"
        class="title"
        @click="activeTab = 0; getAllUsers();"
        :class="activeTab === 0 ? 'active' : ''"
      >
        管理员账号
      </div>
      <div
        class="title"
        @click="activeTab = 1; getAllUsers();"
        :class="activeTab === 0 ? '' : 'active'"
      >
        普通账号
      </div>
    </div>
    <div class="AccountManageWrap">
      <mt-button
        type="primary"
        size="small"
        style="margin: 6px 0 10px 10px"
        @click="createAccountShow"
        >{{ `创建${ activeTab === 0 ? '管理员' : '用户' }` }}</mt-button
      >
      <div class="search-box">
        <input placeholder="请输入手机号搜索" v-model="telphone" maxlength="11" />
        <button @click="getAllUsers">搜索</button>
      </div>
      <table class="formData">
        <tr v-for="(item, index) in allUsers" :key="index">
          <!-- <td>touxiang</td> -->
          <td>{{ item.login }}</td>
          <td>
            <mt-button style="margin-right: 4px" type="primary" size="small" @click="handleDetail(item)">详情</mt-button></mt-button>
            <mt-button
              style="margin-right: 4px"
              type="primary"
              size="small"
              @click="handleReset(item)"
              >重置密码</mt-button
            >
            <mt-button
              style="margin-right: 4px"
              type="danger"
              size="small"
              @click="handleDel(item)"
              >删除</mt-button
            >
            <mt-button
              :type="item.activated ? 'danger' : 'primary'"
              size="small"
              @click="handleStop(item)"
              >{{ item.activated ? "停用" : "启用" }}</mt-button
            >
          </td>
        </tr>
      </table>
    </div>

    <Popup class="createHrefMain" v-model="popupVisible" position="top">
      <div
        style="
          font-size: 0.18rem;
          font-weight: bold;
          color: #575454;
          height: 0.37rem;
          line-height: 0.37rem;
        "
      >
        创建
      </div>
      <!-- <div class="userPhoto">
        <span>头像</span>
        <div></div>
      </div> -->
      <!-- <div class="userName">
        <span>用户昵称</span>
        <input type="text" placeholder="请输入用户昵称" />
      </div> -->
      <!-- <div class="userNo">
        <span>用户账号</span>
        <input v-model="popData.login" type="text" placeholder="请输入您的真实姓名" />
      </div> -->
      <div class="userTel">
        <span>手机号码</span>
        <input
          v-model="popData.login"
          maxlength="11"
          type="text"
          placeholder="请输入您的手机号码"
        />
      </div>
      <!-- <div class="userPassword">
        <span>登录密码</span>
        <input
          v-model="popData.password"
          maxlength="16"
          type="text"
          placeholder="请输入您的密码"
        />
      </div> -->
      <!-- <div class="Activate">
        <span style="line-height: 0.3rem">是否激活</span>
        <div class="radio">
          <mt-radio v-model="popData.activated" :options="[{label: '是', value: 'true'}, {label: '否', value: 'false'}]"> </mt-radio>
        </div>
      </div> -->
      <div style="justify-content: space-around">
        <mt-button
          @click="saveUser"
          type="primary"
          size="small"
          style="float: left"
          >保存</mt-button
        >
        <mt-button
          type="default"
          size="small"
          style="float: left"
          @click="popupVisible = false"
          >取消</mt-button
        >
      </div>
    </Popup>
    <Popup class="detail-box" v-model="editVisible" position="top">
      <div>
        <div class="detail-item">
          <label>账号</label>
          <span>{{ popData.login }}</span>
        </div>
        <div class="detail-item">
          <label>状态</label>
          <span>{{ popData.activated ? '启用' : '停用' }}</span>
        </div>
        <div class="detail-item">
          <label>性别</label>
          <span>{{ popData.sex == 1 ? '男' : '女' }}</span>
        </div>
        <div class="detail-item">
          <label>创建时间</label>
          <span>{{ popData.time || '暂无' }}</span>
        </div>
        <div class="detail-item">
          <label>url</label>
          <span>{{ popData.url }}</span>
        </div>
      </div>
      <div style="display: flex; justify-content: flex-end; margin-top: 14px">
        <mt-button
          type="danger"
          size="small"
          style="float: left"
          @click="editVisible = false"
          >关闭</mt-button
        >
      </div>
    </Popup>
  </div>
</template>

<script>
import { Button, Radio, Popup, MessageBox, Toast } from "mint-ui";
import { getAllCustomer, getAllAdmin, delUser, createdUser, updateUser, resetUser, getUserInfo } from "@/api/api";
import { testPhone } from "@/tools/tools";
// import Upload from "@/components/upload/upload";
export default {
  name: "Help",
  components: {
    "mt-button": Button,
    "mt-radio": Radio,
    Popup,
  },
  data() {
    return {
      activeTab: 1,
      popupVisible: false,
      editVisible: false,
      allUsers: [],
      popData: {},
      accountInfo: {},
      isAdmin: false,
      telphone:''
    };
  },
  created() {
    this.accountInfo = JSON.parse(sessionStorage.getItem('accountInfo'));
    this.isAdmin = (this.accountInfo.authorities.indexOf("ROLE_SYSTEM") > -1);
    this.activeTab = this.isAdmin ? 0 : 1;
    this.getAllUsers();
  },
  methods: {
    async saveUser() {
      const { login, password, id } = this.popData;
      if (!testPhone(login)) {
        Toast("请输入正确的手机号");
        return;
      }
      // if (!login) {
      //   Toast("请输入手机号");
      //   return;
      // }
      const ajax = id ? updateUser : createdUser;
      const sendData = {
        ...this.popData,
        authorities: this.activeTab === 0 ? ["ROLE_ADMIN", "ROLE_USER"] : ["ROLE_USER"]
      }
      const result = await ajax(sendData);
      this.popupVisible = false;
      Toast(`保存${result ? "成功" : "失败"}`);
      this.getAllUsers();
    },
    handleReset({ id }) {
      MessageBox.confirm("确定重置密码吗?").then(async () => {
        const result = await resetUser(id);
        Toast(`${result.msg}`);
      });
    },
    handleStop(data) {
      const { activated } = data;
      MessageBox.confirm(`确定${activated ? "停用" : "启用"}吗?`).then(
        async () => {
          const result = await updateUser({ ...data, activated: !activated });
          Toast(`操作${result ? "成功" : "失败"}`);
          this.getAllUsers();
        }
      );
    },
    async handleDetail(data) {
      const result = await getUserInfo(data.id) || {};
      this.editVisible = true;
      this.popData = {...result, ...data};
    },
    handleDel(data) {
      MessageBox.confirm("确定删除吗?").then(async () => {
        await delUser(data.login);
        this.getAllUsers();
      });
    },
    async getAllUsers() {
      const ajax = this.activeTab === 0 ? getAllAdmin : getAllCustomer;
      const result = await ajax({ page: 0, size: 10000, login: this.telphone });
      this.allUsers = [...result];
    },
    createAccountShow() {
      this.popupVisible = true;
      this.popData = {
        password: "",
        login: "",
      };
    },
  },
};
</script>

<style scoped>
.search-box {
  border: 1px solid #cdcdcd;
  height: 28px;
  width: 90%;
  margin: 10px;
  display: flex;
  border-radius: 4px;
  justify-content: space-between;
}
.search-box input {
  height: 100%;
  border: none;
  text-indent: 10px;
  box-sizing: border-box;
  flex: 7;
  outline: none;
}
.search-box button {
  height: 100%;
  border: none;
  text-indent: 10px;
  text-align: center;
  box-sizing: border-box;
  border: none;
  flex: 1;
}
.PopDel .mint-popup-top {
  width: 2.5rem;
  height: 1.5rem;
  top: 1.6rem;
}
.PopDel .popName {
  margin: 0.3rem;
  text-align: center;
}
.PopDel .popBtn {
  margin: 0.4rem auto;
}
.createHrefMain {
  width: 80%;
  height: auto;
  background: #fff;
  padding: 0.1rem;
  margin-top: 1.4rem;
}
.createHrefMain div {
  height: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.createHrefMain > div {
  padding-top: 10px;
}
.createHrefMain div span,
.createHrefMain div input {
  display: block;
  font-size: 0.16rem;
  color: #575454;
  float: left;
  height: 0.3rem;
  padding: 0;
  text-indent: 10px;
}
.createHrefMain div span {
  margin-right: 0.2rem;
  font-size: 14px;
  line-height: 0.3rem;
}
.createHrefMain div input {
  width: 2.2rem;
  border: 1px solid #ededed;
  font-size: 14px;
}
.creatAccountWrap {
  position: fixed;
  top: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: #fff;
}

.topTitle {
  font-size: 0.18rem;
  padding: 0.2rem;
  font-weight: bold;
}
.tabTitle {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  display: flex;
  justify-content: flex-start;
}
.tabTitle div {
  font-size: 0.14rem;
  color: #000;
  width: 1rem;
  padding-left: 0.1rem;
  text-align: center;
}

.tabTitle .active {
  background: #fff;
  color: #000;
}
.formData {
  width: 100%;
  height: auto;
  border-radius: 0.1rem;
  font-size: 0.16rem;
}
.formData div.title {
  width: 1.6rem;
  height: 1.4rem;
  background: rgb(215, 215, 215);
  border-radius: 0.1rem;
  padding-top: 0.1rem;
}
.formData tr {
  text-indent: 8px;
  border-top: 1px solid #ededed;
  display: flex;
  padding: 10px 6px;
  align-items: center;
  justify-content: space-between;
}
.formData span:nth-child(2) {
  display: block;
  font-size: 0.16rem;
  color: #888585;
  padding-bottom: 0.2rem;
}
.AccountManageWrap,
.AccountNormalWrap {
  width: auto;
  height: auto;
  font-size: 0.16rem;
  background: #fff;
}
.wrap {
  width: 100%;
  height: 100%;
  background: #eceaea;
}
.detail-box {
  width: 80%;
  margin-top: 1.2rem;
  padding: 20px
}
.detail-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
  padding: 10px 0;
}
</style>