<template>
  <div>
    <div class="info-item">
      <img :src="userInfo.chatHead" class="head-img" alt="" />
      <Upload @uploadCompleted="uploadCompleted" name="file" style="position: absolute; width: 50%; left: 25%; margin: 0 auto; height: 100%;" />
    </div>
    <Cell>
      <span slot="title">昵称</span>
      <input v-model="userInfo.nickName" class="info-input" type="text" />
    </Cell>
    <Cell class="info-item">
      <span slot="title">性别</span>
      <Radio
        v-model="userInfo.sex"
        :options="[
          { label: '男', value: '1' },
          { label: '女', value: '2' },
        ]"
        algin="left"
      />
    </Cell>
    <Cell is-link>
      <span slot="title" @click="$router.push({path: '/MySign', query: {...userInfo}})" style="display: inline-block; width: 100%;">个性签名</span>
    </Cell>
    <Cell is-link>
      <span slot="title">背景图</span>
      <Upload
        name="file"
        style="height: 20px; width: 200px"
        @uploadCompleted="uploadCompleted_Bg"
      />
    </Cell>
    
    <div style="margin-top: 40px">
      <Button @click="saveInfo" size="normal" type="primary">保存</Button>
    </div>
  </div>
</template>

<script>
import { Radio, Cell, Button, Toast } from "mint-ui";
import Upload from "@/components/upload/upload";
import { getMyInfo, updateUserInfo } from "@/api/api";
export default {
  components: { Radio, Upload, Cell, Button },
  data() {
    return {
      userInfo: {},
    };
  },
  created() {
    this.getMyInfo();
  },
  methods: {
    async getMyInfo() {
      const accountInfo = JSON.parse(sessionStorage.getItem("accountInfo"));
      const userId = accountInfo.id;
      const result = await getMyInfo({ userId });
      this.userInfo = { ...result, sex: `${result.sex}` };
    },
    async saveInfo() {
      const result = await updateUserInfo(this.userInfo);
      Toast(`保存${result ? '成功' : '失败'}`)
    },
    uploadCompleted(res) {
      this.userInfo.chatHead = res.result;
    },
    uploadCompleted_Bg(res) {
      this.userInfo.backgroundUrl = res.result;
    }
  },
};
</script>

<style>
.info-item {
  display: flex;
  position: relative;
}
.info-item .mint-cell-wrapper {
  background-image: none;
}
.info-item .mint-radiolist {
  display: flex;
}
.info-input {
  border: none;
  outline: none;
  font-size: 20px;
  text-align: right;
}
.head-img {
  height: 80px;
  width: 80px;
  margin: 40px auto;
  border-radius: 100%;
  overflow: hidden;
}
</style>