<template>
  <div>
    <textarea maxlength="30" v-model="userInfo.sign" name="" id="" cols="30" rows="10" placeholder="个性签名" style="margin: 40px 0; width: 90%"></textarea>
    <br />
    <Button @click="saveInfo" size="normal" type="primary">保存</Button>
  </div>
</template>

<script>
import { Button } from "mint-ui";
import { updateUserInfo } from "@/api/api";
import { Toast } from 'mint-ui';
export default {
  components: { Button },
  data() {
    return {
      userInfo: {
        sign: ''
      }
    }
  },
  created() {
    this.userInfo = this.$route.query;
  },
  methods: {
    async saveInfo() {
      if(this.userInfo.sign.length > 30) {
        Toast('个性签名不得超过30字');
        return
      }
      const result = await updateUserInfo(this.userInfo);
      if(result) {
        Toast('修改成功');
        this.$router.back()
      }else{
        Toast('修改失败')
      }
    }
  }
}
</script>

<style>

</style>