<template>
  <div class="wrap">
    <mt-button
      type="primary"
      size="small"
      style="
        float: left;
        border-radius: 0.3rem;
        margin: 0.2rem 0 0.2rem 0.12rem;
      "
      @click="addAssistances"
      >创建帮助链接</mt-button
    >
    <table class="formData">
      <tr>
        <th>标题</th>
        <!-- <th>链接</th> -->
        <th>操作</th>
      </tr>
      <tr v-for="(item, index) in allAssistances" :key="index">
        <td>{{ item.title }}</td>
        <!-- <td>{{ item.url }}</td> -->
        <td>
          <mt-button
            style="margin-right: 6px"
            type="primary"
            size="small"
            @click="handleEdit(item)"
            >编辑</mt-button
          >
          <mt-button type="danger" size="small" @click="handleDel(item)"
            >删除</mt-button
          >
        </td>
      </tr>
    </table>

    <div class="PopMain">
      <mt-popup v-model="popupVisible" position="top">
        <div
          class="popTitle"
          style="
            margin-bottom: 0.22rem;
            font-size: 0.18rem;
            color: #888585;
            font-weight: bolder;
          "
        >
          创建/编辑
        </div>
        <div class="popName">标题</div>
        <div class="popTel"><input v-model="popData.title" placeholder="请输入标题" /></div>
        <div class="popImg">链接</div>
        <div class="popTel"><input v-model="popData.url" placeholder="请输入链接" /></div>
        <div
          class="popBtn"
          style="display: flex; justify-content: space-around"
        >
          <mt-button
            type="primary"
            size="small"
            style="float: left"
            @click="saveAssistances"
            >保存</mt-button
          >
          <mt-button
            type="default"
            size="small"
            style="float: left"
            @click="popupVisible = false"
            >取消</mt-button
          >
        </div>
      </mt-popup>
    </div>
  </div>
</template>
<script>
import { Button, Radio, Popup, MessageBox, Toast } from "mint-ui";
import { getAllAssistances, delAssistances, createAssistances, updateAssistances } from "@/api/api";
export default {
  name: "Help",
  components: {
    "mt-button": Button,
    "mt-radio": Radio,
    "mt-popup": Popup,
  },
  data() {
    return {
      popupVisible: false,
      allAssistances: [],
      popData: {},
    };
  },
  created() {
    this.getAllAssistances();
  },
  methods: {
    async getAllAssistances() {
      const result = await getAllAssistances({ page: 0, size: 10000 });
      this.allAssistances = [...result,];
    },
    handleEdit(data) {
      this.popupVisible = true;
      this.popData = Object.assign({}, data)
    },
    handleDel(data) {
      MessageBox.confirm("确定删除吗?").then(async () => {
        await delAssistances(data.id);
        this.getAllAssistances();
      });
    },
    addAssistances() {
      this.popupVisible = true;
      this.popData = {
        title: "",
        url: "",
      };
    },
    async saveAssistances() {
      const { id } = this.popData;
      const ajax = id ? updateAssistances : createAssistances;
      await ajax(this.popData);
      Toast('保存成功');
      this.popupVisible = false
      this.getAllAssistances();
    },
  },
};
</script>
<style scoped>
.PopMain .mint-popup-top {
  top: 1.6rem;
}
.popTitle,
.popName,
.popTel,
.popImg,
.popAdd,
.popBtn {
  font-size: 0.16rem;
  margin: 0.1rem;
}

.popTel input {
  display: block;
  width: 2.5rem;
  height: 0.38rem;
  line-height: 0.38rem;
}
.wrap {
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  background: #eceaea;
}
.formData {
  width: 100%;
  height: auto;
  font-size: 0.16rem;
  background: #fff;
  border-bottom: 60px solid #eceaea;
}
.formData tr {
    text-indent: 8px;
    border-bottom: 1px solid #ededed;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.formData tr:last-child {
  border: none;
}
.createHrefMain {
  position: absolute;
  top: 1rem;
  left: 0.15rem;
  width: 3.25rem;
  height: auto;
  background: #fff;
  padding: 0.1rem;
  z-index: 1;
}
.createHrefMain div {
  height: 0.4rem;
  margin-bottom: 0.12rem;
  display: flex;
  justify-content: flex-start;
}
.createHrefMain div span,
.createHrefMain div input {
  display: block;
  font-size: 0.16rem;
  color: #575454;
  float: left;
  height: 0.4rem;
  line-height: 0.4rem;
  padding: 0;
}
.createHrefMain div span {
  margin-right: 0.2rem;
}
.createHrefMain div input {
  width: 2.2rem;
}
/* .Activate .mint-cell{
  min-height: 40px !important;
} */
.createHrefWrap {
  position: fixed;
  top: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: #fff;
}
</style>